<div id="logout" class=" modal fade" role="dialog" align="center">
    <div class="modal-dialog animated tada">
        <!-- Modal content-->
        <div class="modal-content modal-sm">
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="fa fa-warning"></span> Warning</h4>
            </div>
            <div class="modal-body text-center">
                <h5>Are you sure you want to log out?</h5>
            </div>
            <div class="modal-footer bg-gray-light" align="center">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href = 'logout';">Yes</button>
            </div>
        </div>
    </div>
</div>
